* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient( #0f2027, #203a43, #2c5364);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  display: flex;
  width: 900px;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.login-left {
  background: linear-gradient(to bottom right, #1a237e, #3f51b5);
  color: white;
  width: 50%;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  flex-direction: column;
}

.login-left .login-image {
  width: 80%;
  max-width: 250px;
  margin-bottom: 20px;
}

.login-right {
  width: 50%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-right h2 {
  font-size: 36px;
  margin-bottom: 30px;
  color: #1a237e;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input[type="text"], input[type="password"] {
  padding: 12px 16px;
  border: 2px solid #cfd8dc;
  border-radius: 8px;
  font-size: 16px;
  transition: 0.3s;
}

input:focus {
  outline: none;
  border-color: #3f51b5;
  box-shadow: 0 0 0 3px rgba(63, 81, 181, 0.2);
}

button {
  background-color: #3f51b5;
  color: white;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background-color: #303f9f;
}

#error-message {
  color: red;
  font-size: 14px;
  height: 18px;
  text-align: center;
}
